.auth-error {
  color: orangered;
  font-size: xx-large;
  text-align: center;
}


.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: blue;
  color: white;
  padding: 0 10px;
}

.header-icon {
  font-size: 1em;
  margin-right: 5px;
}

.label-icon {
  font-size: 1em;
  margin-left: 10px;
}


.home-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: blue;
  color: white;
  padding: 0 10px;
}

.title-button {
  background-color: white;
  color: blue;
  margin: 10px 0 10px 10px;
  padding: 0 3vw;
  border-radius: 1em;
  font-size: large;
  border: none;
}

.home-title-button {
  background-color: white;
  color: blue;
  margin: 10px 0 10px 10px;
  padding: 0 3vw;
  border-radius: 1em;
  font-size: large;
  border: none;
  outline: none;
}

.home-button {
  background-color: blue;
  color: white;
  margin: 10vh 10px 0 10px;
  padding: 3vh 3vw;
  border-radius: 1em;
  font-size: large;
  width: 30vw;
  align-self: center;
  border: none;
  outline: none;
}

.home-intro {
  color: black;
  text-align: center;
}

.title-button:hover, .signup-submit-button:hover, .signin-submit-button:hover, .home-button:hover , .home-title-button:hover {
  cursor: pointer;
  opacity: 0.8;
}


.h1 {
  font-size: xx-large;
}

.signin-submit-button {
  background-color: white;
  color: blue;
  border-radius: 0.5em;
  min-width: 72.4%;
  font-size: 15px;
  padding: 10px 15px;
  font-size: large;
  align-self: flex-end;
  border: none;
  outline: none;
}

.signup-submit-button {
  background-color: white;
  color: blue;
  border-radius: 0.5em;
  min-width: 82%;
  font-size: 15px;
  padding: 10px 15px;
  font-size: large;
  align-self: flex-end;
  border: none;
  outline: none;
}

.legend {
  text-align: center;
  font-size: x-large;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.home-main {
  display: flex;
  flex-flow: column nowrap;
  padding: 20vh 10vw 0 10vw;
}

.backgroundOne {
  background-image: url('./svg/undraw_Bibliophile_hwqc.svg');
}

.backgroundTwo {
  background-image: url('./svg/artOne.svg');
}

.backgroundThree {
  background-image: url('./svg/undraw_personal_notebook_sobb.svg');
}


.backgroundProps {
  background-size: cover;
  height: 100vh;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  width: 50vw;
  font-size: large;
  border-radius: 1em;
}

.signup-form {
  display: flex;
  flex-flow: column nowrap;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  min-width: 70vw;
  font-size: large;
  border-radius: 1em;
}

.signin-form {
  display: flex;
  flex-flow: column nowrap;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  min-width: 60vw;
  font-size: large;
  border-radius: 1em;
}

.dashboard {
  background-color: blue;
  color: white;
  padding: 10px;
  width: 50vw;
  font-size: large;
  border-radius: 20px;
}

.input-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px 0;
}

.signup-input {
  border: none;
  padding: 10px;
  border-radius: 0.5em;
  color: blue;
  min-width: 80%;
  font-size: large;
}

.signin-input {
  border: none;
  padding: 10px;
  border-radius: 0.5em;
  color: blue;
  min-width: 70%;
  font-size: large;
}

@media screen and (max-width: 1150px) {
 .input-container {
  flex-flow: column nowrap;
 }

 .label {
   margin-bottom: 10px;
 }

 .signup-submit-button {
  min-width: 90vw;
}

.signin-submit-button {
  min-width: 90vw;
}
}


@media screen and (max-width: 400px) {
  .home-title-button {
    padding: 20px 3vw;
  }

  .home-header {
    justify-content: center;
  }
}
