.auth-error {
  color: orangered;
  font-size: xx-large;
  text-align: center;
}


.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: blue;
  color: white;
  padding: 0 10px;
}

.home-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: blue;
  color: white;
  padding: 0 10px;
}

.title-button {
  background-color: white;
  color: blue;
  margin: 10px 0 10px 10px;
  padding: 0 3vw;
  border-radius: 2vh;
  font-size: large;
  border: none;
}

.home-title-button {
  background-color: white;
  color: blue;
  margin: 10px 0 10px 10px;
  padding: 0 3vw;
  border-radius: 2vh;
  font-size: large;
  border: none;
  outline: none;
}

.home-button {
  background-color: blue;
  color: white;
  margin: 10vh 10px 0 10px;
  padding: 3vh 3vw;
  border-radius: 2vh;
  font-size: large;
  width: 30vw;
  align-self: center;
  border: none;
  outline: none;
}

.home-intro {
  color: black;
  text-align: center;
}

.title-button:hover, .submit-button:hover, .home-button:hover , .home-title-button:hover {
  cursor: pointer;
  opacity: 0.8;
}


.h1 {
  font-size: xx-large;
}

.submit-button {
  background-color: white;
  color: blue;
  border-radius: 10px;
  width: 100%;
  font-size: 15px;
  padding: 10px 15px;
  font-size: large;
  align-self: flex-end;
  border: none;
  outline: none;
}

.legend {
  text-align: center;
  font-size: x-large;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.home-main {
  display: flex;
  flex-flow: column nowrap;
  padding: 20vh 10vw 0 10vw;
}

.backgroundOne {
  background-image: url('./icons/undraw_Bibliophile_hwqc.svg');
  background-size: cover;
  height: 100vh;
}

.backgroundTwo {
  background-image: url('./icons/artOne.svg');
  background-size: cover;
  height: 100vh;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  width: 50vw;
  font-size: large;
  border-radius: 20px;
}

.dashboard {
  background-color: blue;
  color: white;
  padding: 10px;
  width: 50vw;
  font-size: large;
  border-radius: 20px;
}

.input-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10px 0;
}

.label {
  text-align: left;
  margin-right: 10px;
  flex: 0 0 81px;
  align-self: left;
}

.breaking-space {
  margin-right: 10px;
  flex: 0 0 89px;
}

.input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  color: blue;
  font-size: large;
}


@media screen and (min-width: 1350px) {
  .input {
    width: 83%;
  }

  .submit-button {
    width: 85%
  }
}

@media screen and (max-width: 400px) {
  .home-title-button {
    padding: 20px 3vw;
  }

  .home-header {
    justify-content: center;
  }
  }